@model Capacitaciones
@{
    ViewData["Title"] = "Visualizar Cita";
}

<div class="text-center">
    <h1 class="display-4">VISUALIZAR CAPACITACION</h1>

    <form class="col-sm-4 mx-auto my-auto" method="post">


        <div class="form-group mb-5 mt-4">
            <label for="exampleInputEmail1">Titulo</label>
            <input asp-for="Titulo" class="form-control mt-2 placeholder-black" placeholder="Ingrese un titulo">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Descripción</label>
            <input asp-for="Descripcion" class="form-control mt-2 placeholder-black" placeholder="Ingrese la descripción de la descripcion">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Fecha Inicio</label>
            <input asp-for="FechaInicio" class="form-control mt-2 placeholder-black" placeholder="Ingrese la fecha de inicio de la capacitacion">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Fecha Fin</label>
            <input asp-for="FechaFin" class="form-control mt-2 placeholder-black" placeholder="Ingrese la fecha de fin de la capacitacion">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Lugar</label>
            <input asp-for="Lugar" class="form-control mt-2 placeholder-black" placeholder="Ingrese el lugar de la capacitacion">
        </div>

        <div class="form-group mb-5">
            <label for="">Modalidad</label>
            <input asp-for="Modalidad" class="form-control mt-2 placeholder-black" placeholder="Ingrese la modalidad de la capacitacion">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Precio</label>
            <input asp-for="Precio" class="form-control mt-2 placeholder-black" placeholder="Ingrese el precio de la capacitacion">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Link imagen</label>
            <input asp-for="URLImagen" class="form-control mt-2 placeholder-black" placeholder="Ingrese el link de la imagen">
        </div>

    </form>

</div>
