@model Capacitaciones
@{
    ViewData["Title"] = "Editar Capacitaciones";
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $(function () {
            $("#FechaInicio").datepicker();
            $("#FechaFin").datepicker();
        });
    </script>
</head>


<div class="text-center">
    <h1 class="display-4">EDITAR CAPACITACIONES</h1>

    <form class="col-sm-4 mx-auto my-auto" method="POST">

        <div class="form-group mb-5 mt-4">
            <label for="exampleInputEmail1">Titulo</label>
            <input asp-for="Titulo" class="form-control mt-2 placeholder-black" placeholder="Ingrese un titulo">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Descripción</label>
            <input asp-for="Descripcion" class="form-control mt-2 placeholder-black" placeholder="Ingrese la descripción de la descripcion">
        </div>

        <div class="form-group mb-5">
            <label for="Date">Fecha Inicio</label>
            <input asp-for="FechaInicio" id="FechaInicio" class="form-control mt-2 placeholder-black" placeholder="Ingrese la fecha de inicio de la capacitacion">
        </div>

        <div class="form-group mb-5">
            <label for="Date">Fecha Fin</label>
            <input asp-for="FechaFin" id="FechaFin" class="form-control mt-2 placeholder-black" placeholder="Ingrese la fecha de fin de la capacitacion">
        </div>


        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Lugar</label>
            <input asp-for="Lugar" class="form-control mt-2 placeholder-black" placeholder="Ingrese el lugar de la capacitacion">
        </div>

        <div class="form-group mb-5">
            <label for="">Modalidad</label>
            <input asp-for="Modalidad" class="form-control mt-2 placeholder-black" placeholder="Ingrese la modalidad de la capacitacion">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Precio</label>
            <input asp-for="Precio" class="form-control mt-2 placeholder-black" placeholder="Ingrese el precio de la capacitacion">
        </div>

        <div class="form-group mb-5">
            <label for="Imagen">Imagen</label>
            <input type="file" class="form-control" name="Imagen">
        </div>

        <div class="row mt-5">
            <div class="col-6 col-md-6">
                <a asp-action="Index" class="btn btn-warning">Volver</a>
            </div>
            <div class="col-6 col-md-6">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </div>

    </form>

</div>
