@model Formulario
@{
    ViewData["Title"] = "Crear Formulario";
}

<div class="text-center">
    <h1 class="display-4">CREAR FORMULARIO</h1>

    <form class="col-sm-4 mx-auto my-auto" method="POST">

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Nombre</label>
            <input asp-for="Nombre" class="form-control mt-2 placeholder-black" placeholder="Ingrese el nombre">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Fecha de nacimiento</label>
            <input asp-for="FechaNacimiento" type="date" class="form-control mt-2 placeholder-black" placeholder="Ingrese la fecha de nacimiento">
        </div>


        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Fecha del suceso</label>
            <input asp-for="FechaSuceso" type="date" class="form-control mt-2 placeholder-black" placeholder="Ingrese la fecha del suceso">
        </div>


        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Rol de actor</label>
            <input asp-for="Rol" class="form-control mt-2 placeholder-black" placeholder="Ingrese el rol de actor">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Sexo</label>
            <input asp-for="Sexo" class="form-control mt-2 placeholder-black" placeholder="Ingrese el sexo">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Mensaje</label>
            <input asp-for="Mensaje" class="form-control mt-2 placeholder-black" placeholder="Ingrese el mensaje">
        </div>

        <div class="row mt-5">
            <div class="col-6 col-md-6">
                <a asp-action="Index" class="btn btn-warning">Volver</a>
            </div>
            <div class="col-6 col-md-6">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </div>

    </form>

</div>
