@model Formulario
@{
    ViewData["Title"] = "Visualizar Formulario";
}

<div class="text-center">
    <h1 class="display-4">VISUALIZAR FORMULARIO</h1>

    <form class="col-sm-4 mx-auto my-auto" method="post">


        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Nombre</label>
            <input asp-for="Nombre" class="form-control mt-2 placeholder-black" placeholder="Ingrese el nombre">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Fecha de nacimiento</label>
            <input asp-for="FechaNacimiento" type="date" class="form-control mt-2 placeholder-black" placeholder="Ingrese la fecha de nacimiento">
        </div>


        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Fecha del suceso</label>
            <input asp-for="FechaSuceso" type="date" class="form-control mt-2 placeholder-black" placeholder="Ingrese la fecha del suceso">
        </div>


        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Rol de actor</label>
            <input asp-for="Rol" class="form-control mt-2 placeholder-black" placeholder="Ingrese el rol de actor">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Sexo</label>
            <input asp-for="Sexo" class="form-control mt-2 placeholder-black" placeholder="Ingrese el sexo">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Mensaje</label>
            <input asp-for="Mensaje" class="form-control mt-2 placeholder-black" placeholder="Ingrese el mensaje">
        </div>

        <div class="form-group mb-5">
            <a asp-action="index" class="btn btn-warning">Volver</a>
        </div>

    </form>

</div>
