
:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
    --verde: #008000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}



/*ARTICULO*/

main {
    background: #f0f0f0;
    padding: 22px 20px;
    margin-top: 20px;
}

article {
    max-width: 1200px;
    margin: 10px auto;
    background: #fff;
}

    article p {
        font-size: 18px;
        font-weight: 300;
    }


