@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --login-bg: #f8f3ff;
    --title-bg: #46559d;
    --button-bg: #46559d;
    --light-pink: #46559d;
    --image-bg: #46559d;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #46559d 0%, #141d28 100%);
}

.login-container {
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}

.image-container {
    padding: 2rem;
    width: 50%;
    background-color: var(--image-bg);
    box-sizing: border-box;
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.social-login-element {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

    .social-login-element img {
        width: 1.875rem;
        height: 1.875rem;
        position: relative;
        top: 0;
        left: -0.625rem;
    }

    .social-login-element:hover {
        background-color: #fff;
    }

.login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

    .input:hover {
        border: 2px solid var(--button-bg);
    }

.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
}

.inputs-container p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }

    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }

    .image-container {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container > p {
        margin: 0;
    }
}

.back-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1; /* Para que esté sobre el título */
}

.btnBack {
    position: relative; /* Para posicionar el círculo */
    width: 40px; /* Tamaño del botón */
    height: 40px;
    border-radius: 50%; /* Para hacerlo redondo */
    background-color: var(--primario); /* Color del círculo */
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Eliminamos el padding para que el icono esté alineado */
}

    .btnBack img {
        max-width: 80%; /* Tamaño máximo del icono */
    }

    /* Estilos para el círculo */
    .btnBack::before {
        content: ''; /* Contenido generado */
        position: absolute;
        top: 50%; /* Centramos verticalmente */
        left: 50%; /* Centramos horizontalmente */
        transform: translate(-50%, -50%);
        width: 40px; /* Tamaño del círculo */
        height: 40px;
        border-radius: 50%; /* Para hacerlo circular */
        background-color: var(--light-pink); /* Color del círculo */
        z-index: -1; /* Para que esté detrás del ícono */
    }
