@model Usuarios
@{
    ViewData["Title"] = "Editar Usuarios";
}

<div class="text-center">
    <h1 class="display-4">EDITAR USUARIOS</h1>

    <form class="col-sm-4 mx-auto my-auto" method="post">

        <!-- Campo id oculto ya que este no se modifica -->
        <input type="hidden" asp-for="IdUsuario" />

        <div class="form-group mb-5 mt-4">
            <label for="exampleInputEmail1">Nombre</label>
            <input asp-for="Nombre" class="form-control mt-2 placeholder-black" placeholder="Ingrese un nombre">
        </div>

        <div class="form-group mb-5 mt-4">
            <label for="exampleInputEmail1">Correo</label>
            <input asp-for="Correo" class="form-control mt-2 placeholder-black" placeholder="Ingrese un correo">
        </div>

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Clave</label>
            <input asp-for="Password" class="form-control mt-2 placeholder-black" placeholder="********">
        </div>

        <div class="form-group mb-5 mt-4">
            <label for="exampleInputEmail1">Rol</label>
            <input asp-for="Rol" class="form-control mt-2 placeholder-black" placeholder="Ingrese el rol">
        </div>

        <div class="row mt-5">

            <div class="col-6 col-md-6">
                <a asp-action="index" class="btn btn-warning">Volver</a>
            </div>

            <div class="col-6 col-md-6">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>

        </div>

    </form>

</div>
