@{
    ViewData["Title"] = "Pagina de Ayuda";
    Layout = null;

}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GuíaSaludMental</title>
    <meta name="description" content="Página web de Salud Mental">

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" crossorigin="anonymous" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>


    <link href="/css/EstiloColumnaDoble.css" rel="stylesheet" />
    <link href="/css/EstiloSinBordes.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/Dropdown.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a asp-controller="Home" asp-action="PaginaInicio">SaludMental</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">SaludMental</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li class="selectitem"><a asp-controller="Home" asp-action="PaginaInicio">INICIO</a></li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="AcosoIndex">ACOSO</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="Preventiva">Preventivo</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Durante">Durante</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Despues">Despues</a></li>
                            <li class="more">
                                <span>
                                    <a asp-area="" asp-controller="Home" asp-action="Test">Test</a>
                                    <i class='bx bxs-chevron-right arrow more-arrow'></i>
                                </span>
                                <ul class="more-sub-menu sub-menu">
                                    <li><a asp-area="" asp-controller="Home" asp-action="Ninos">Niños</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Jovenes">Jóvenes</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Otros">Ciberseguridad</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="TrastornoIndex">TRASTORNOS</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Seguridad">CIBERSEGURIDAD</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Capacitaciones">CAPACITACIONES</a></li>
                    <li>
                        <a asp-area="" asp-controller="" asp-action="">TE AYUDAMOS</a>
                        <i class='bx bxs-chevron-down js-arrow arrow'></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="Chatbot">Chatbot</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Ayuda">Preguntas frecuentes</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Formulario">Cuéntanos lo que <br>te está sucediendo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="" asp-action="">CONÓCENOS</a>
                        <i class='bx bxs-chevron-down py-arrow arrow'></i>
                        <ul class="py-sub-menu sub-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="Contactanos">CONTÁCTANOS</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Nosotros">NOSOTROS</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search-box">
                <a asp-area="" asp-controller="Acceso" asp-action="Login"><i class="fas fa-user"></i></a>
                <div class="input-box">
                    <input type="text" placeholder="Search...">
                </div>
            </div>
        </div>
        <div id="button-up">
            <i class="fas fa-chevron-up"></i>
        </div>
    </nav>

    <main>
        <article>
            <br />
            <h2>PREGUNTAS FRECUENTAS</h2>
            <img src="~/img/IA/Pregunta.jpeg" />
            <p>
                La era digital en la que vivimos ha abierto un mundo de posibilidades y conocimiento al alcance de todos, especialmente de los más jóvenes. Sin embargo, esta gran herramienta también plantea desafíos significativos, como el acoso en línea, un problema que preocupa cada vez más a padres, madres y educadores. Entender cómo navegar por Internet de manera segura es fundamental para proteger a nuestros menores de posibles riesgos.

                Si tienes preguntas sobre cómo garantizar la seguridad de tus hijos en la red o si estás enfrentando situaciones de acoso en línea, estamos aquí para apoyarte. Nuestra plataforma ofrece un espacio de consulta donde podrás obtener respuestas a tus inquietudes más urgentes.

                No permitas que la incertidumbre te detenga. Si percibes cualquier señal de alarma o simplemente necesitas orientación sobre cómo manejar la seguridad en línea, no dudes en contactarnos. Nuestro equipo está preparado para brindarte asesoramiento gratuito y confidencial, asegurando un entorno digital más seguro para los más jóvenes. Recuerda, juntos podemos construir una comunidad en línea más segura para nuestros hijos.
            </p>
        </article>

        <article>
            <h2>¿Cómo puedo denunciar un mensaje ofensivo o bloquear un usuario en Internet?</h2>
            <img src="~/img/IA/MalosComentarios.jpeg" />

             <h3>Mensajes, comentarios, fotos o vídeos ofensivos</h3>

             <p>
                Si hemos recibido un mensaje ofensivo, o alguien publica un comentario, foto o vídeo que nos resulta molesto, podemos contactar con la persona que lo ha enviado (y/o sus padres) y pedirle que lo elimine, e incluso solicitar la mediación del centro educativo para resolver el conflicto.

                Si esto no es suficiente, podemos acudir a las opciones de reporte que ofrecen las redes sociales y las herramientas de mensajería instantánea para cada publicación. La mayoría de ellas facilitan que puedas eliminar y denunciar esos contenidos ofensivos. Para ello, hay que hacer clic en las opciones de la publicación, seleccionar reportar o denunciar, y marcar la opción que mejor describa el problema.
             </p>

             <h3>Personas que están molestando a un menor</h3>

            <p>
                Si conocemos a la persona que le está molestando, podemos intentar hablar con ella (y/o sus padres), e incluso solicitar la mediación del centro educativo para pedirle que deje de molestarnos y borre nuestros datos de contacto (número de teléfono, correo electrónico o usuario de redes sociales).

                Si esto no es así, o no se resuelve el problema, podemos acudir a las opciones de bloqueo y reporte que ofrecen las redes sociales y las herramientas de mensajería instantánea:

            </p>

              <h3>Bloquear el contacto, para que no pueda ponerse en contacto con nosotros.</h3>

            <p>
                Borrarle como contacto, para no ponernos en contacto con esa persona.
                Reportar el usuario, para que los administradores de la plataforma suspendan o borren su cuenta si ha incumplido las condiciones del servicio (por ejemplo insultar o hacerse pasar por otra persona no suele estar permitido).
            </p>
        </article>

    </main>


    <footer class="footer">
        <div class="container container-footer">
            <div class="menu-footer">
                <div class="contact-info">
                    <p class="title-footer">Información de Contacto</p>
                    <ul>
                        <li>Teléfono: 0980006242</li>
                        <li>
                            Email: segutsmsd@gmail.com
                        </li>
                    </ul>
                    <div class="social-icons">
                        <span class="facebook">
                            <a href="https://www.facebook.com/profile.php?id=61559015191723">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </span>
                        <span class="instagram">
                            <a href="https://www.instagram.com/guiasaludmentalec/">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </span>
                        <span class="tiktok">
                            <a href="https://www.tiktok.com/@@segutsmsd?is_from_webapp=1&sender_device=pc">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </span>
                        <span class="whatsapp">
                            <a href="https://wa.me/+5930980006242">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                        </span>
                    </div>
                </div>

                <div class="information">
                    <p class="title-footer">Información</p>
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Nosotros">Acerca de nosotros</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="PoliticasPrivacidad">Políticas de Privacidad</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="TerminosCondiciones">Términos y Condiciones</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="LeyProteccionDeDatos">Ley de Protección de Datos</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contactanos">Contáctanos</a></li>
                    </ul>
                </div>


            </div>

            <div class="copyright">
                <p>
                    &copy Todos los derechos reservados 2024
                </p>
                <br />
                <br />
                <br />
                <p>
                    Hecho por Jair Rueda
                </p>
            </div>
        </div>
    </footer>


    <script src="/js/menu.js"></script>
    <script src="/js/Scroll.js"></script>
</body>
</html>
