@{
    ViewData["Title"] = "Test 1";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/test.css" rel="stylesheet" />
    <title>Test 1</title>
</head>
<body data-cuestionario-id="FelicidadNinos">
    <header>
        <h1>FELICIDAD NIÑOS</h1>
        <P>Por favor, responde "Sí" o "No" a cada una de las siguientes preguntas:</P>
    </header>
    <div class="back-button-container">
        <a asp-area="" asp-controller="Home" asp-action="Ninos" class="btnBack">
            <img src="~/img/login/back.png" alt="Regresar" />
        </a>
    </div>
    <div class="container">
        <section id="p0">
            <div class="question">
            <h3>1.	¿Te sientes feliz la mayor parte del tiempo?</h3>
            <label>
                <input type="radio" value="1" name="p0" onclick="respuesta(0,this)"> Si
            </label>
            <label>
                <input type="radio" value="2" name="p0" onclick="respuesta(0,this)"> No
            </label>
            </div>
            <div class="image-container">
                <img loading="lazy" src="~/img/FelicidadNinos/Pregunta1.webp" alt="imagen blog" />
            </div>
        </section>
        <section id="p1">
            <div class="question">
            <h3>2.	¿Te diviertes y disfrutas jugando con tus amigos?</h3>
            <label>
                <input type="radio" value="1" name="p1" onclick="respuesta(1,this)"> Si
            </label>
            <label>
                <input type="radio" value="2" name="p1" onclick="respuesta(1,this)"> No
            </label>
            </div>
            <div class="image-container">
                <img loading="lazy" src="~/img/FelicidadNinos/Pregunta2.webp" alt="imagen blog" />
            </div>
        </section>
        <section id="p2">
            <div class="question">
            <h3>3.	¿Te gusta ir a la escuela y aprender cosas nuevas?</h3>
            <label>
                <input type="radio" value="1" name="p2" onclick="respuesta(2,this)"> Si
            </label>
            <label>
                <input type="radio" value="2" name="p2" onclick="respuesta(2,this)"> No
            </label>
            </div>
            <div class="image-container">
                <img loading="lazy" src="~/img/FelicidadNinos/Pregunta3.webp" alt="imagen blog" />
            </div>
        </section>
        <section id="p3">
            <div class="question">
            <h3>4.	¿Tienes momentos felices con tu familia en casa?</h3>
            <label>
                <input type="radio" value="1" name="p3" onclick="respuesta(3,this)"> Si
            </label>
            <label>
                <input type="radio" value="2" name="p3" onclick="respuesta(3,this)"> No
            </label>
        </div>
        <div class="image-container">
                <img loading="lazy" src="~/img/FelicidadNinos/Pregunta4.webp" alt="imagen blog" />
        </div>
        </section>
        <section id="p4">
            <div class="question">
            <h3>5.	¿Te sientes seguro(a) y protegido(a) en tu hogar?</h3>
            <label>
                <input type="radio" value="1" name="p4" onclick="respuesta(4,this)"> Si
            </label>
            <label>
                <input type="radio" value="2" name="p4" onclick="respuesta(4,this)"> No
            </label>
            </div>
            <div class="image-container">
                <img loading="lazy" src="~/img/FelicidadNinos/Pregunta5.webp" alt="imagen blog" />
            </div>
        </section>
        <section id="p5">
            <div class="question">
            <h3>6.	¿Tienes personas con quienes hablar sobre tus sentimientos y preocupaciones?</h3>
            <label>
                <input type="radio" value="1" name="p5" onclick="respuesta(5,this)"> Si
            </label>
            <label>
                <input type="radio" value="2" name="p5" onclick="respuesta(5,this)"> No
            </label>
            </div>
            <div class="image-container">
                <img loading="lazy" src="~/img/FelicidadNinos/Pregunta6.webp" alt="imagen blog" />
            </div>
        </section>
        <section id="p6">
            <div class="question">
            <h3>7.	¿Te emociona la idea de aprender cosas nuevas o descubrir lugares diferentes?</h3>
            <label>
                <input type="radio" value="1" name="p6" onclick="respuesta(6,this)"> Si
            </label>
            <label>
                <input type="radio" value="2" name="p6" onclick="respuesta(6,this)"> No
            </label>
            </div>
            <div class="image-container">
                <img loading="lazy" src="~/img/FelicidadNinos/Pregunta7.webp" alt="imagen blog" />
            </div>
        </section>
        <section id="p7">
            <div class="question">
            <h3>8.	¿Disfrutas de tus momentos de juego y recreación?</h3>
            <label>
                <input type="radio" value="1" name="p7" onclick="respuesta(7,this)"> Si
            </label>
            <label>
                <input type="radio" value="2" name="p7" onclick="respuesta(7,this)"> No
            </label>
            </div>
            <div class="image-container">
                <img loading="lazy" src="~/img/FelicidadNinos/Pregunta8.webp" alt="imagen blog" />
            </div>
        </section>
        <section id="p8">
            <div class="question">
            <h3>9.	¿Te sientes apoyado(a) por tus maestros y compañeros en la escuela?</h3>
            <label>
                <input type="radio" value="1" name="p8" onclick="respuesta(8,this)"> Si
            </label>
            <label>
                <input type="radio" value="2" name="p8" onclick="respuesta(8,this)"> No
            </label>
            </div>
            <div class="image-container">
                <img loading="lazy" src="~/img/FelicidadNinos/Pregunta9.webp" alt="imagen blog" />
            </div>
        </section>
        <section id="p9">
            <div class="question">
            <h3>10.	¿Tienes oportunidades para expresarte y participar en actividades que te gustan?</h3>
            <label>
                <input type="radio" value="1" name="p9" onclick="respuesta(9,this)"> Si
            </label>
            <label>
                <input type="radio" value="2" name="p9" onclick="respuesta(9,this)"> No
            </label>
            </div>
            <div class="image-container">
                <img loading="lazy" src="~/img/FelicidadNinos/Pregunta10.webp" alt="imagen blog" />
            </div>
        </section>
        <h2>
            <button onclick="revelar()">Calificar</button>
            <span id="resultado"></span>
        </h2>
        <h2>
            <span id="rango"></span>
        </h2>
    </div>

    <script src="/js/test.js"></script>
</body>
</html>