@{
    ViewData["Title"] = "Pagina Preventiva";
    Layout = null;
}


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuiaSaludMental</title>
    <meta name="description" content="Página web de salud Mental">


    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" crossorigin="anonymous" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    <link href="/css/EstiloColumnaDoble.css" rel="stylesheet" />
    <link href="/css/EstiloSinBordes.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/Dropdown.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="#">SaludMental</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">SaludMental</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li class="selectitem"><a asp-controller="Home" asp-action="PaginaInicio">INICIO</a></li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="AcosoIndex">ACOSO</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="Preventiva">Preventivo</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Durante">Durante</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Despues">Despues</a></li>
                            <li class="more">
                                <span>
                                    <a asp-area="" asp-controller="Home" asp-action="Test">Test</a>
                                    <i class='bx bxs-chevron-right arrow more-arrow'></i>
                                </span>
                                <ul class="more-sub-menu sub-menu">
                                    <li><a asp-area="" asp-controller="Home" asp-action="Ninos">Niños</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Jovenes">Jóvenes</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Otros">Otros</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="TrastornoIndex">TRASTORNOS</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Seguridad">CIBERSEGURIDAD</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Capacitaciones">CAPACITACIONES</a></li>
                    <li>
                        <a asp-area="" asp-controller="" asp-action="">TE AYUDAMOS</a>
                        <i class='bx bxs-chevron-down js-arrow arrow'></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="Ayuda">Preguntas frecuentes</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Formulario">Cuéntanos lo que <br>te está sucediendo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="" asp-action="">CONÓCENOS</a>
                        <i class='bx bxs-chevron-down py-arrow arrow'></i>
                        <ul class="py-sub-menu sub-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="Contactanos">CONTÁCTANOS</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Nosotros">NOSOTROS</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search-box">
                <a asp-area="" asp-controller="Acceso" asp-action="Login"><i class="fas fa-user"></i></a>
                <div class="input-box">
                    <input type="text" placeholder="Search...">
                </div>
            </div>
        </div>
        <div id="button-up">
            <i class="fas fa-chevron-up"></i>
        </div>
    </nav>

    <div class="contenedor">
        <br />
        <br />
        <main class="blog">

            <article class="entrada">
                <div class="entrada__imagen">
                    <picture>
                        <img loading="lazy" src="/img/IA/AntesDelAcoso/1.webp" alt="imagen blog" />
                    </picture>
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">1. Educación y sensibilización</h4>
                    <p>Proporciona capacitación y educación sobre el acoso en el lugar de trabajo o en entornos educativos para que todos comprendan qué constituye el acoso y cómo prevenirlo.</p>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada__imagen">
                    <picture>
                        <img loading="lazy" src="/img/IA/AntesDelAcoso./2.webp" alt="imagen blog" />
                    </picture>
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">2. Desarrollo de políticas</h4>
                    <p>Implementa políticas claras y procedimientos de denuncia de acoso que establezcan expectativas claras de comportamiento y los pasos a seguir en caso de acoso.</p>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada__imagen">
                    <picture>
                        <img loading="lazy" src="/img/IA/AntesDelAcoso./3.webp" alt="imagen blog" />
                    </picture>
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">3. Fomento de una cultura de apoyo</h4>
                    <p>Promueve una cultura organizacional o escolar que fomente el respeto mutuo, la empatía y el apoyo entre los miembros de la comunidad.</p>

                </div>
            </article>

            <article class="entrada">
                <div class="entrada__imagen">
                    <picture>
                        <img loading="lazy" src="/img/IA/AntesDelAcoso./4.webp" alt="imagen blog" />
                    </picture>
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">4. Creación de canales de denuncia seguros</h4>
                    <p>Establece canales de denuncia confidenciales y seguros para que las personas puedan reportar el acoso de manera segura y sin temor a represalias.</p>

                </div>
            </article>

        </main>

    </div>

    <button id="button-up" style="display:none;">^</button>


    <footer class="footer">
        <div class="container container-footer">
            <div class="menu-footer">
                <div class="contact-info">
                    <p class="title-footer">Información de Contacto</p>
                    <ul>
                        <li>
                            Dirección: Dirección de la empresa
                        </li>
                        <li>Teléfono: 0980006242</li>
                        <li>
                            Email: segutsmsd@gmail.com
                        </li>
                    </ul>
                    <div class="social-icons">
                        <span class="facebook">
                            <a href="https://www.facebook.com/profile.php?id=61559015191723">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </span>
                        <span class="instagram">
                            <a href="https://www.instagram.com/guiasaludmentalec/">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </span>
                        <span class="tiktok">
                            <a href="https://www.tiktok.com/@@guiasaludmental">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </span>
                        <span class="whatsapp">
                            <a href="https://wa.me/0999999999">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                        </span>
                    </div>
                </div>

                <div class="information">
                    <p class="title-footer">Información</p>
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Nosotros">Acerca de nosotros</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="PoliticasPrivacidad">Políticas de Privacidad</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="TerminosCondiciones">Términos y Condiciones</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="TerminosCondiciones">Ley de Protección de Datos</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contactanos">Contáctanos</a></li>
                    </ul>
                </div>


            </div>

            <div class="copyright">
                <p>
                    Desarrollado por Jair Rueda &copy; 2024
                </p>
            </div>
        </div>
    </footer>



    <script src="/js/menu.js"></script>
    <script src="/js/Scroll.js"></script>
</body>
</html>