@model Link
@{
    ViewData["Title"] = "Crear Link";
}

<div class="text-center">
    <h1 class="display-4">CREAR LINK</h1>

    <form class="col-sm-4 mx-auto my-auto" method="POST">

        <div class="form-group mb-5">
            <label for="exampleInputEmail1">Link Video</label>
            <input asp-for="linkVideo" class="form-control mt-2 placeholder-black" placeholder="Ingrese el Link del video">
        </div>

        <div class="row mt-5">
            <div class="col-6 col-md-6">
                <a asp-action="Index" class="btn btn-warning">Volver</a>
            </div>
            <div class="col-6 col-md-6">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </div>

    </form>

</div>
