:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
    --verde: #008000;
    --naranja: #FAA700;
    --color-black: #141d28;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
    position: relative;
    z-index: 1;

}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    margin-top: 50px;
    font-size: 3.2rem;
}

h4 {
    font-size: 2.5rem;
}

img {
    max-width: 100%;
}

/* Utilidades */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    border-radius: 20px;

}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border-block-color: #000000;

}

.entrada__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%; /* Ajustar el ancho máximo para evitar que el contenido se extienda más allá */

}


.header {
    width: auto;
    position: relative;
    height: 75rem;
    overflow: hidden;
    margin: 0 auto; /* Esto centrará horizontalmente */
}

.video-container {
    position: relative;
    padding-bottom: 39%; /* Proporción 16:9 para el video: 56.25% */
    height: 20px; /* Altura mínima del contenedor del video */
    overflow: hidden;
    cursor: pointer; /* Cambiar el cursor para que parezca no interactivo */
}

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; /* Hacer la superposición transparente */
    pointer-events: none; /* Permitir que los clics pasen a través de la superposición */
}



@media screen and (max-width: 1400px) {
    .header {
        height: auto; /* Cambia la altura a automático en pantallas más pequeñas */
    }

    .video-container {
        padding-bottom: 56%; /* Proporción 16:9 para el video: 56.25% */
    }

}

.nav-bg {
    background-color: var(--negro);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }

}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

    .navegacion-principal a:hover {
        background-color: var(--naranja);
        color: var(--negro);
    }

.acciones-header {
    display: flex;
    align-items: center;
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 17rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }

}

.barrapagina {
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .barrapagina {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


}

.logo {
    color: var(--blanco);
}

.logo__nombre {
    font-weight: 400;
}

.logo__bold {
    font-weight: 800;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    transition: color 0.3s ease; /* Añadimos una transición suave para el cambio de color */
}

    .navegacion__enlace:hover {
        color: #0072ff; /* Cambia el color al pasar el mouse sobre el enlace */
    }

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    padding-top: 0;
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura que el contenido interno esté centrado horizontalmente */
}

.entrada__contenido {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el espacio uniformemente */
    align-items: center;
    text-align: center;
    min-height: 200px; /* Asegura que haya suficiente altura para distribuir el contenido */
    width: 100%;
}

.entrada__contenido h4{
    margin-top: 0;
    text-align: center;
}

.entrada__contenido p{
    margin-top: 0;
    text-align: center;
    margin: 20px;
}

.entrada__imagen img {
    margin-top: 0;
    margin-bottom: 0; /* Elimina el margen inferior de las imágenes */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    margin-top: auto;
    background-color: var(--verde);
}

    .boton:hover {
        cursor: pointer;
    }

.boton--primario {
    background-color: var(--verde);
}

.boton--secundario {
    background-color: var(--verde);
}

.cursos {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

    .widget-curso:last-of-type {
        border: none;
        margin-bottom: 0;
    }

.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.widget-curso__info {
    font-weight: normal;
}

.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}


/** Sobre Nosotros **/
@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/** Cursos **/
.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso:last-of-type {
    border: none;
}

.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.curso__info {
    font-weight: normal;
}

.curso__label,
.curso__info {
    font-size: 2rem;
}

.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea {
    height: 20rem;
}

/*ventana modal*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    z-index: 9999;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container {
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #000000;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
    z-index: 9999;
}

.modal__title {
    font-size: 2.5rem;
}

.modal__paragraph {
    margin-bottom: 10px;
}

.modal__img {
    width: 90%;
    max-width: 300px;
}

.modal__close {
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.hero__cta {
    text-decoration: underline;
}


/* Redes sociales */
.red {
    position: fixed;
    top: 350px;
    z-index: 100;
    right: 0;
}

#facebook a {
    background: #0072ff;
    padding: 10px 28px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
    font-size: 30px;
}

    #facebook a:hover {
        background: #000;
        padding: 20px 28px;
    }

#instagram a {
    background: #bc2a8d;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
    font-size: 30px;
}

    #instagram a:hover {
        background: #000;
        padding: 20px 30px;
    }

#whatsapp a {
    background: #25d366;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
    font-size: 30px;
}

    #whatsapp a:hover {
        background: #000;
        padding: 20px 30px;
    }

#tiktok a {
    background: #000000;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
    font-size: 30px;
}

    #tiktok a:hover {
        background: #000;
        padding: 20px 30px;
    }


@media (max-width:1300px) {
    .red {
        top: 250px;
    }

    #facebook a {
        padding: 10px 28px;
        font-size: 21px;
    }

    #instagram a {
        padding: 10px 30px;
        font-size: 20px;
    }

    #whatsapp a {
        padding: 10px 30px;
        font-size: 20px;
    }

    #tiktok a {
        padding: 10px 30px;
        font-size: 20px;
    }
}


    /* ********************************** */
    /*               FOOTER               */
    /* ********************************** */

    .footer {
        background-color: var(--color-black);
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 3rem;
    }

    .menu-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 30rem;
        gap: 3rem;
        justify-items: center;
    }

    .title-footer {
        font-weight: 600;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: var(--verde);
    }

    .contact-info,
    .information,
    .my-account,
    .newsletter {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

        .contact-info ul,
        .information ul,
        .my-account ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

            .contact-info ul li,
            .information ul li,
            .my-account ul li {
                list-style: none;
                color: #fff;
                font-size: 1.4rem;
                font-weight: 300;
            }

                .information ul li a,
                .my-account ul li a {
                    text-decoration: none;
                    color: #fff;
                    font-weight: 300;
                }

                    .information ul li a:hover,
                    .my-account ul li a:hover {
                        color: var(--dark-color);
                    }

    .social-icons {
        display: flex;
        gap: 1.5rem;
    }

        .social-icons span {
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .social-icons span i {
                color: #fff;
                font-size: 1.2rem;
            }

    .facebook {
        background-color: #3b5998;
    }

    .twitter {
        background-color: #00acee;
    }

    .youtube {
        background-color: #c4302b;
    }

    .whatsapp {
        background-color: #008000;
    }

    .instagram {
        background: linear-gradient( #405de6, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #fcaf45 );
    }

    .content p {
        font-size: 1.4rem;
        color: #fff;
        font-weight: 300;
    }

    .content input {
        outline: none;
        background: none;
        border: none;
        border-bottom: 2px solid #d2b495;
        cursor: pointer;
        padding: 0.5rem 0 1.2rem;
        color: var(--dark-color);
        display: block;
        margin-bottom: 3rem;
        margin-top: 2rem;
        width: 100%;
        font-family: inherit;
    }

        .content input::-webkit-input-placeholder {
            color: #eee;
        }

    .content button {
        border: none;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        padding: 1rem 3rem;
        border-radius: 2rem;
        font-size: 1.4rem;
        font-family: inherit;
        cursor: pointer;
        font-weight: 600;
    }

        .content button:hover {
            background-color: var(--background-color);
            color: var(--primary-color);
        }

    .copyright {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        border-top: 1px solid #d2b495;
    }

        .copyright p {
            font-weight: 400;
            font-size: 1.6rem;
            color: var(--verde);
        }

    /* ********************************** */
    /*       MEDIA QUERIES -- 768px       */
    /* ********************************** */
    @media (max-width: 768px) {

        .menu-footer {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    /* ********************************** */
    /*       MEDIA QUERIES -- 468px       */
    /* ********************************** */
    @media (max-width: 468px) {


        .contact-info ul,
        .information ul,
        .my-account ul {
            display: none;
        }

        .contact-info {
            align-items: center;
        }

        .menu-footer {
            grid-template-columns: 1fr;
        }
    }

    .information ul li a:hover,
    .my-account ul li a:hover {
        color: var(--dark-color);
    }

    /* Agrega este bloque para el cambio de color al pasar el mouse */
    .information ul li a:hover,
    .my-account ul li a:hover,
    .social-icons span:hover {
        color: var(--verde);
    }


    /*Boton de ir arriba*/

    #button-up {
        width: 50px;
        height: 50px;
        background: #46a2fd;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 50%;
        font-size: 20px;
        position: fixed;
        bottom: 90px;
        left: 50px;
        cursor: pointer;
        border: 4px solid transparent;
        transition: all 300ms ease;
        transform: scale(0);
    }

        #button-up:hover {
            transform: scale(1.1);
            border-color: rgba(0,0,0,0.1);
        }


    /*BOTON HACIA ARRIBA*/
    #button-up {
        background-color: #007BFF;
        color: white;
        border: 50px;
        cursor: pointer;
        border-radius: 5px;
        z-index: 1000; /* Asegúrate de que el z-index sea alto para superponer otros elementos */
        transform: scale(1); /* Asegúrate de que el botón esté visible */
        font-size: 20px; /* Ajusta el tamaño del icono */
    }

        #button-up:hover {
            transform: scale(1.1);
            border-color: rgba(0,0,0,0.1);
        }

        #button-up i {
            color: white;
            font-size: 20px;
        }

@media (max-width:1180px) {
    #button-up {
        width: 50px;
        height: 50px;
        bottom: 20px;
        left: 20px;
    }
}
@media (max-width:1500px) {
    #button-up {
        width: 50px;
        height: 50px;
        bottom: 20px;
        left: 20px;
    }
}


/*TARJETAS DE MISION VISION*/

.container-section {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
}

.card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, var(--color-black) 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
}

p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.icon-wrapper {
    background-color: var(--verde);
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.card:hover {
    background-position: 0 100%;
}

    .card:hover .icon-wrapper {
        background-color: #ffffff;
        color: var(--verde);
    }

    .card:hover h3 {
        color: #ffffff;
    }

    .card:hover p {
        color: #f0f0f0;
    }

@media screen and (min-width: 768px) {
    section {
        padding: 0 2em;
    }

    .column {
        flex: 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 1em 3em;
    }

    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

